
   <!-- Header
   ================================================== -->
   <header id="home">

    <nav id="nav-wrap">

       <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

      <ul id="nav" class="nav">
        <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
        <li *ngIf="resume && resume.about">
          <a class="smoothscroll" href="#about">About</a>
        </li>
        <li *ngIf="resume && resume.resume">
          <a class="smoothscroll" href="#resume">Resume</a>
        </li>
        <li *ngIf="resume && resume.works">
          <a class="smoothscroll" href="#portfolio">Works</a>
        </li>
        <li *ngIf="resume && resume.skills">
          <a class="smoothscroll" href="#skills">skills</a>
        </li>
        <li *ngIf="resume && resume.googleScholar">
          <a class="smoothscroll" href="#google-scholar">Publication</a>
        </li>
        <li *ngIf="resume && resume.contact">
          <a class="smoothscroll" href="#contact">Contact</a>
        </li>
      </ul> <!-- end #nav -->
       <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    <div class="row banner">
       <div class="banner-text">
          <h1 class="responsive-headline">{{ resume.home.name }}</h1>
          <h3>
            {{ resume.home.description }}
            <!-- I'm a Manila based <span>graphic designer</span>, <span>illustrator</span> and <span>webdesigner</span> creating awesome and
          effective visual identities for companies of all sizes around the globe. Let's <a class="smoothscroll" href="#about">start scrolling</a>
          and learn more <a class="smoothscroll" href="#about">about me</a>. -->

         </h3>
          <hr />
          <ul class="social">
             <li><a [href]="resume.home.facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a [href]="resume.home.twitter"><i class="fa fa-twitter"></i></a></li>
             <li><a [href]="resume.home.googlePlus"><i class="fa fa-google-plus"></i></a></li>
             <li><a [href]="resume.home.linkedin"><i class="fa fa-linkedin"></i></a></li>
             <li><a [href]="resume.home.instagram"><i class="fa fa-instagram"></i></a></li>
             <li><a [href]="resume.home.website"><i class="fa fa-dribbble"></i></a></li>
             <li><a [href]="resume.home.skype"><i class="fa fa-skype"></i></a></li>
          </ul>
       </div>
    </div>

    <p class="scrolldown">
       <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>

 </header> <!-- Header End -->
