 <!-- footer
 ================================================== -->
 <footer>

  <div class="row">

     <div class="twelve columns">

        <ul class="social-links">
           <li><a [href]="resume.home.facebook"><i class="fa fa-facebook"></i></a></li>
           <li><a [href]="resume.home.twitter"><i class="fa fa-twitter"></i></a></li>
           <li><a [href]="resume.home.googlePlus"><i class="fa fa-google-plus"></i></a></li>
           <li><a [href]="resume.home.linkedin"><i class="fa fa-linkedin"></i></a></li>
           <li><a [href]="resume.home.instagram"><i class="fa fa-instagram"></i></a></li>
           <li><a [href]="resume.home.website"><i class="fa fa-dribbble"></i></a></li>
           <li><a [href]="resume.home.skype"><i class="fa fa-skype"></i></a></li>
        </ul>

        <ul class="copyright">
           <li>&copy; {{resume.footer.copyright}}</li>
           <!-- <li>Created by <a href="https://www.neetechs.com/" title="Styleshout" target="_blank">Sayed</a></li> -->
        </ul>

     </div>

     <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

  </div>

</footer> <!-- Footer End-->
