<app-header [resume]="resume"></app-header>

<div *ngIf="resume && resume.about">
  <app-about [resume]="resume"></app-about>
</div>
<div *ngIf="resume && resume.resume">
  <app-resume [resume]="resume"></app-resume>
</div>
<div *ngIf="resume && resume.works">
  <app-works [resume]="resume"></app-works>
</div>
<div *ngIf="resume && resume">
  <app-google-scholar [resume]="resume"></app-google-scholar>
</div>
<div *ngIf="resume && resume.contact">
  <app-contact [resume]="resume"></app-contact>
</div>
<!-- <app-testimonials [resume]="resume"></app-testimonials> -->
<app-footer [resume]="resume"></app-footer>
