 <!-- Resume Section
 ================================================== -->
 <section id="resume">

  <!-- Education
  ----------------------------------------------- -->
  <div class="row education">

     <div class="three columns header-col">
        <h1><span>Education</span></h1>
     </div>

     <div class="nine columns main-col">

        <div class="row item" *ngFor="let study of resume.resume.education">

           <div class="twelve columns">
              <h3>{{study.location}}</h3>
              <p class="info">{{study.degree}}<span>&bull;</span> <em class="date">{{study.date}}</em></p>
              <p>
                {{study.description}}</p>
           </div>

        </div> <!-- item end -->
     </div> <!-- main-col end -->

  </div> <!-- End Education -->


  <!-- Work
  ----------------------------------------------- -->
  <div class="row work">

     <div class="three columns header-col">
        <h1><span>Work</span></h1>
     </div>

     <div class="nine columns main-col">

        <div class="row item" *ngFor="let work of resume.resume.works">

           <div class="twelve columns">

              <h3>{{work.location}}</h3>
              <p class="info">{{work.position}}<span>&bull;</span> <em class="date">{{work.date}}</em></p>

              <p>
                {{work.description}}</p>

           </div>

        </div> <!-- item end -->
     </div> <!-- main-col end -->

  </div> <!-- End Work -->


  <!-- Skills
  ----------------------------------------------- -->
  <div class="row skill">

     <div class="three columns header-col">
        <h1><span>Skills</span></h1>
     </div>

     <div class="nine columns main-col">

        <p>{{resume.resume.skillsDescription}}
        </p>

    <div class="bars">

       <ul class="skills">
         <li *ngFor="let skill of resume.resume.skills"
         ><span [ngClass]="'bar-expand animatedIt'" [style.width.%]="skill.percentage"></span><em>{{skill.skill}}</em></li>
        </ul>

    </div><!-- end skill-bars -->

  </div> <!-- main-col end -->

  </div> <!-- End skills -->

</section> <!-- Resume Section End-->
